<h1>You've added a new place!</h1>
<ul>
  <li>@Model.GetCity()</li>
  <ul>
    <li>@Model.GetCountry()</li>
    <li>@Model.GetYear()</li>
    <li><img src="@Model.GetPhoto()" style="max-width:400px;"></li>
  </ul>
</ul>
<p><a href="/">Add another place</a></p>
<p><a href="/place/list">View current list of places</a></p>
