<h1>Add new place</h1>
<form action="/place/create" method="post">
  <label for="new-city">City:</label>
  <input id="new-city" name="new-city" type="text">
  <label for="new-country">Country:</label>
  <input id="new-country" name="new-country" type="text">
  <label for="new-year">Year visited:</label>
  <input id="new-year" name="new-year" type="number">
  <label for="new-photo">Photo URL:</label>
  <input id="new-photo" name="new-photo" type="text">
  <button type="submit">Submit</button>
</form>
